{% extends "layout.html" %}

{% block content %}

<h1>Fill Out This Form</h1>

{% with messages = get_flashed_messages() %}
	{% if messages %}
		<div class="notification is-danger"> {{ messages[0] }}</div>
	{% endif %}
{% endwith %}

<form action="/login" method="POST">
	Your Username: <input type="username" name="username" placeholder="Username">
	</br>
	Your Password: <input type="password" name="password" placeholder="Password">
	</br>
	<input type="submit" value="Log in">
</form>


{% endblock %}
